h1, h2,h3,p,a{
    font-family: "roboto", sans-serif;
}
h1.white{
    color: #fff;
}
h1, h2{
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
}
button {
    display: block;
    width: 90vw;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
#btn-venues{
   margin: 0 auto;
        text-align: center;
}

.venue-box{
    position: relative;
    display: inline-block;
    text-align: center;
}
.venue-imgs{
    max-width: 30vw;
}

.concert-modal h1, .concert-modal div, .concert-modal p {
   padding: 10px;
}
.concert-modal button{
    margin-bottom: 10px;
}
.conc-img{
    width:100%;
}

.venue-text{
    position: absolute;
    bottom: 0;
    color: #000;
    left:0;
    right: 0;
    top:0;
    background-color: rgba(255,255,255,0.5);
    color: #000;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
  flex-direction: column;
  justify-content: center;
}
p{
    padding: 0;
}

.concert-modal div{
    padding-bottom: 10px;
}

.concert-modal {
    background: rgba(255,255,255,0.95)
}
body{
    background: linear-gradient(to right, #642b73, #c6426e);
}

/* burger menu */

.nav-items {
    padding: 10px;
}

.closebtn {
    font-size: 30px;
}

.hide {
    display: none;
}

.burger-menu {
    z-index: 1;
    cursor: pointer;
    color: white;
    position: absolute;
    padding: 30px;
    font-size: 20px;
}

.main-nav {
    position: absolute;
    z-index: 1;
    height: 100%;
    background: linear-gradient(to right, #642b73, #c6426e);;
    box-shadow: 10px #505050;
}

.main-nav a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid white;
}

.open {
    width: 60%;
}

.close {
    width: 0;
    overflow: hidden;
}

a {
    color: #ffff;
    text-decoration: none;
}
