html,
body {
    font-family: 'Roboto';
}

.container {
    height: calc(100% - 60px);
    max-width: 400px;
    min-height: 800px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 5px black;
}

.nav-items {
    padding: 10px;
}

.closebtn {
    font-size: 30px;
}

.hide {
    display: none;
}

.burger-menu {
    z-index: 1;
    cursor: pointer;
    color: white;
    position: absolute;
    padding: 30px;
    font-size: 20px;
}

.main-nav {
    position: absolute;
    z-index: 1;
    height: 100%;
    background: linear-gradient( rgb(0, 242, 96, 100), rgb(5, 117, 230, 100));
    box-shadow: 10px #505050;
}

.main-nav a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid white;
}

.open {
    width: 20%;
}

.close {
    width: 0;
    overflow: hidden;
}

a {
    color: #ffff;
    text-decoration: none;
}

.icon.right {
    float: right;
}

.icon::after {
    font-family: 'FontAwesome';
    color: white;
    font-size: 24px;
}

.icon.arrow-left::after {
    float: left;
    content: '\f053';
}

.icon.arrow-right::after {
    content: '\f054';
}

.fa-search {
    float: right;
}

.top-view {
    height: 50%;
    background: url(https://unsplash.it/1080/720/?random) no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    font-weight: 100;
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1.5px;
}

.color-layer {
    background-color: rgba(107, 23, 102, 0.2);
    height: 100%;
    width: 100%;
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;
    position: relative;
}

.header {
    position: relative;
    box-sizing: border-box;
}

.thumbnail {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-container {
    width: 100px;
    height: 100px;
    margin: 30px auto;
}

.profile {
    position: absolute;
    width: auto;
    left: 50%;
    top: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.notifications {
    position: absolute;
    border-radius: 50%;
    background-color: turquoise;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 50px;
    font-weight: 300;
}

.numNotification {
    top: 0;
}

span {
    font-size: 14px;
    display: block;
    position: relative;
    top: 50%;
    margin-top: -7px;
}

.month-selection {
    text-align: center;
    position: absolute;
    width: calc(100% - 40px);
    padding: 10px 0;
    bottom: 20px;
    box-sizing: border-box;
}

span.month {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
}

.bottom-view {
    height: 50%;
    overflow: hidden;
}

.week-container {
    background-color: skyblue;
}

ul.week {
    display: block;
    padding-left: 50px;
}

li.day {
    display: inline-block;
    width: 11%;
    height: 0;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
}

.arrow-move-left {
    position: absolute;
    margin-left: 30px;
}

.arrow-move-right {
    margin-right: 30px;
    float: right;
}

.current {
    background-color: grey;
    border-radius: 50%;
}

span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    top: 50%;
    margin-top: 8px;
}

.day-names span {
    color: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.entry {
    display: grid;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid;
}

img {
    display: inline-block;
}

.text {
    display: flex;
    justify-content: center;
}

.name {
    font-weight: 500;
}

.time {
    color: grey;
    font-weight: 300;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

.popup {
    position: absolute;
    top: 0;
    color: #000;
    z-index: 1;
    width: 20%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
}
.hide{
    display: none;
}

.popuptext {
    color: white;
}

.modal-title {
    color: white;
}

.modal-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.buttonModal {
    width: 100px;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background: #2ebaee;
    font-weight: 500;
}
