html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/*LOGIN PAGE */

.containerLogin {
    background-image: url(../images/middle.jpg);
    background-repeat: no-repeat;
}

.gradient {
    position: relative;
    background: linear-gradient(to right, rgba(0, 242, 96, 0.5), rgba(5, 117, 230, 0.5));
}

.secondCont {
    min-height: 736px;
}

.logoMainPage {
    margin-top: 50px;
    margin-left: 50px;
}

.subtitleVolunteer {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    margin-top: 0;
    border-bottom: 1px solid white;
}

.secondCont h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 100;
    border: 1px solid white;
    height: 40px;
    width: 280px;
}

.icons {
    position: absolute;
    margin-left: 80px;
    margin-top: 12px;
    height: 15px;
}

.paragraphy {
    color: white;
    font-size: 12px;
    margin-left: 50px;
}

#buttonLoggy {
    color: blue;
    background-color: rgba(255, 255, 255, 0.8)
}


/*END OF LOGIN PAGE*/

#wrap-it {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-items {
    padding: 10px;
}

.closebtn {
    font-size: 30px;
}

.hide {
    display: none;
}

.burger-menu {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
    color: white;
    padding: 30px;
    font-size: 20px;
}

.main-nav {
    position: fixed;
    z-index: 1000;
    height: 100%;
    background: linear-gradient( rgb(0, 242, 96, 100), rgb(5, 117, 230, 100));
    box-shadow: 10px #505050;
}

.main-nav a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid white;
}

.open {
    width: 60%;
}

.message {
    height: 18px;
    float: right;
    padding-right: 10px;
    padding-top: 15px;
}

.search {
    height: 18px;
    float: right;
    padding-top: 15px;
}

.close {
    width: 0;
    overflow: hidden;
}

a {
    color: #ffff;
    text-decoration: none;
}

.icon.right {
    float: right;
}

.icon {
    font-family: 'FontAwesome';
    color: white;
    font-size: 24px;
}

.icon.arrow-left::after {
    float: left;
    content: '\f053';
}

.icon.arrow-right::after {
    content: '\f054';
}

.logo {
    height: 50px;
}

.top-view {
    background: url(https://unsplash.it/1080/720/?random) no-repeat;
    background-size: cover;
    color: white;
}

.volunteer-name {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
}

.color-layer {
    background: linear-gradient( rgb(0, 242, 96, 0.5), rgb(5, 117, 230, 0.5));
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;
    position: relative;
}

.location {
    margin: 0;
}

.timeContainer {
    grid-row-start: 2;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.timeContainer img {
    height: 13px;
    margin-right: 5px;
}

.position {
    grid-column: 2;
    display: flex;
    align-items: center;
}

.position img {
    height: 15px;
    margin-right: 5px;
}

.header {
    position: relative;
    box-sizing: border-box;
}

.thumbnail {
    margin-top: 3px;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-container {
    width: 100px;
    height: 100px;
    margin: 30px auto;
}

.profile {
    position: absolute;
    width: auto;
    left: 50%;
    top: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.notifications {
    position: absolute;
    border-radius: 50%;
    background-color: turquoise;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 50px;
    font-weight: 300;
}

.entry-container {
    position: absolute;
    margin-top: 306px;
    margin-bottom: 8vh;
    width: 100%;
}

.numNotification {
    top: 0;
}

.month-selection {
    text-align: center;
    position: absolute;
    width: calc(100% - 40px);
    padding: 10px 0;
    bottom: 20px;
    box-sizing: border-box;
}

span.month {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
}

.week-container {
    background-color: skyblue;
}

ul.week {
    margin: 0;
    display: block;
    padding-left: 50px;
}

li.day {
    display: inline-block;
    width: 11%;
    height: 0;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
}

.arrow-move-left {
    position: absolute;
    margin-left: 30px;
}

.arrow-move-right {
    margin-right: 30px;
    float: right;
}

.current {
    background-color: grey;
    border-radius: 50%;
}

span {
    display: block;
    font-size: 14px;
    margin-top: 8px;
}

.day-names span {
    color: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.entry {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    padding: 15px;
    border-bottom: 1px solid;
}

.volunteer-role {
    margin: 0;
    grid-column-start: 2;
}

.text {
    display: flex;
    justify-content: center;
}

.name {
    font-weight: 500;
}

.time {
    margin: 0;
    color: grey;
    font-weight: 300;
    font-size: 14px;
}

h2 {
    font-size: 20px;
    font-weight: 100;
}

.popup {
    position: fixed;
    margin-left: 5vw;
    top: -500px;
    height: 0;
    padding: 25px;
    color: white;
    z-index: 2000;
    width: 290px;
    background: linear-gradient( rgb(0, 242, 96, 100), rgb(5, 117, 230, 100));
}

.popup span {
    text-transform: uppercase;
    font-size: 1.2em;
}

.popuptext {
    color: white;
    padding-bottom: 3vh;
    border-bottom: 1px solid white;
}

.modal-title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.slideMe {
    animation: slideMe 1s ease forwards;
}

@keyframes slideMe {
    100% {
        top: 30px;
        height: 70vh;
    }
}

.closeModal {
    float: right;
}

.buttonModal {
    grid-column: 2;
    grid-row: 4;
    padding: 4vw;
    text-transform: uppercase;
    background: none;
    border-color: #B9B5B5;
    border-width: thin;
    font-size: 15px;
    cursor: pointer;
}

.active {
    background: linear-gradient( to right, rgb(0, 242, 96, 100), rgb(5, 117, 230, 100));
    color: white;
}

.modal-image {
    float: right;
    height: 30px;
    width: auto;
    margin-right: 10vw;
}


/*MESSAGES CONTENT*/

#messagesMain{
    margin-bottom: 8vh;

}

.messagesContainer {
    display: flex;
    border-bottom: 1px solid grey;
    padding: 20px;
    position: relative;
    top: 255px;
    align-items: center;
}

.messagesName {
    margin: 0;
}

.profileMessages {
    border-radius: 50%;
    height: 12vh;
    padding: 10px;
}

.messagesText1 {
    margin-top: 3px;
    margin-bottom: 2px;
}

.messagesText {
    padding-left: 15px;
}

.messagesDate {
    color: grey;
    margin: 0;
}

.button-back {
    position: absolute;
    position: fixed;
    bottom: 10%;
    z-index: 1000;
    right: 10%;
    height: 8vh;
}


/*FOOTER*/

.awesomeMenu {
    width: 100%;
    height: 8vh;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    background: linear-gradient(to right, rgb(0, 242, 96, 100), rgb(5, 117, 230, 100));
}

.event {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 10px;
}

.event p {
    font-size: 10px;
    margin-top: 2px;
}

.event-icon {
    height: 20px;
}

.awesomeIcon {
    display: flex;
    justify-content: space-around;
}
